<section class="section-catalog">
    <a href="#"><h2 class="heading-secondary mb-big">Каталог</h2></a>
    <div class="category">
        <div class="cat-item1">
            <img src="img/coffee-machine.webp" alt="">
            <span class="cat-overlay">Автоматический кофемашины</span>
        </div>
        <div class="cat-item2">
            <span>Вендинговые автоматы</span>
        </div>
        <div class="cat-item3">
            <span>Рожковые кофемашины</span>
        </div>
        <div class="cat-item4">
            <span>Кофе и ингредиенты</span>
        </div>
        <div class="cat-item5">
            <span>Аренда кофемашины</span>
        </div>
        <div class="cat-item6">
            <span>Доставка и подключение</span>
        </div>
        <div class="cat-item7">
            <span>ремонт и гарантия</span>
        </div>
    </div>
</section>