<section class="section-more">
    <h2 class="heading-secondary mb-small">[Brand Name] — бизнес для всех</h2>
    <h3 class="heading-tertiary mb-medium">Вендинговые автоматы: новые возможности получения прибыли</h3>

    <p class="mb-medium">Для того чтобы бизнес был эффективным, не достаточно просто купить вендинг-аппараты, важно учитывать основные нюансы такого способа торговли. Наши специалисты окажут всю необходимую консультационную помощь,
        чтобы вы
        могли как можно раньше ощутить выгоду от продаж кофейных напитков. Основные моменты, которые необходимо учитывать, это:</p>

    <div class="row pl-big">
        <div class="col-1-of-3"><p><i class="fa fa-check-square-o"></i>размещать торговые автоматы в местах большого скопления людей: торговых площадках, офисных и развлекательных центрах и т.д.;</p></div>
        <div class="col-1-of-3"><p><i class="fa fa-check-square-o"></i>каждому клиенту должно быть понятно, как использовать аппарат для покупки кофе или других напитков, возле вендингового устройства необходимо разместить подробную
            инструкцию по эксплуатации;</p></div>
        <div class="col-1-of-3"><p><i class="fa fa-check-square-o"></i>вендинговые аппараты должны принимать мелкие купюры, можно договориться с соседними магазинами, чтобы они предоставляли возможность размена денежных средств.</p>
        </div>
    </div>

    <p class="mb-big">Наша компания предлагает большой выбор снековых и кофейных автоматов с привлекательным дизайном от известных производителей. При необходимости оборудование можно приобрести в кредит на выгодных условиях, а также
        взять
        его в аренду.</p>

    <h3 class="heading-tertiary my-medium">Дополнительные возможности компании «Brand name»</h3>

    <p class="mb-medium">Предлагаем отличную возможность выгодно купить вендинговый автомат и аппарат для продажи кофе в сфере HoReCa. Кроме этого, у нас также можно заказать:</p>

    <div class="row pl-big">
        <div class="col-1-of-3"><p><i class="fa fa-check-square-o"></i>б/у оборудование по доступным ценам, проверенное и готовое к эксплуатации;</p></div>
        <div class="col-1-of-3"><p><i class="fa fa-check-square-o"></i>ингредиенты для кофейных автоматов и другие сопутствующие товары для вендингового оборудования;</p></div>
        <div class="col-1-of-3"><p><i class="fa fa-check-square-o"></i>запчасти.</p></div>
    </div>

    <p class="mb-medium">Если вы решили приобрести вендинг-аппараты, но не знаете, как в будущем обслуживать торговый автомат, доверьте этот вопрос нам. Мы обеспечиваем полное сервисное обслуживание оборудования на высоком
        профессиональном
        уровне. Оказываем такие услуги:</p>

    <div class="row pl-big">
        <div class="col-1-of-3"><p><i class="fa fa-check-square-o"></i>доставка и подключение оборудования;</p></div>
        <div class="col-1-of-3"><p><i class="fa fa-check-square-o"></i>дополнительная комплектация устройств;</p></div>
        <div class="col-1-of-3"><p><i class="fa fa-check-square-o"></i>предпродажная подготовка вендинговых автоматов;</p></div>
    </div>
    <div class="row pl-big">
        <div class="col-1-of-3"><p><i class="fa fa-check-square-o"></i>гарантийный и послегарантийный ремонт;</p></div>
        <div class="col-1-of-3"><p><i class="fa fa-check-square-o"></i>установка и техническое обслуживание;</p></div>
        <div class="col-1-of-3"><p><i class="fa fa-check-square-o"></i>срочный выкуп и комиссионная реализация.</p></div>
    </div>

    <p class="mb-medium">Вендинг — это наш конек, поэтому если вам необходима квалифицированная консультация по любому вопросу, обращайтесь к специалистам компании «АРТ-Вендинг»:</p>

    <div class="row pl-big">
        <div class="col-1-of-3"><p><i class="fa fa-check-square-o"></i>по Skype: art-vending;</p></div>
        <div class="col-1-of-3"><p><i class="fa fa-check-square-o"></i>по телефонам: +7 (499) 346-42-56 г. Москва, +7 (383) 207-54-82 г. Новосибирск, 8 (800) 333-67-82 бесплатно для регионов;</p></div>
        <div class="col-1-of-3"><p><i class="fa fa-check-square-o"></i>по e-mail: sale@art-vending.ru.</p></div>
    </div>
</section>