{% load static %}


<section class="section-blog">
    <a href="#"><h2 class="heading-secondary mb-big">Новости</h2></a>
    <div class="row">
        <div class="col-1-of-3">
            <a class="blog-item first" href="#">
                <div class="blog-item-img" style="background-image: url({% static 'img/wallcaoffee.jpg' %});"></div>
                <div class="blog-item-content">
                    <span class="blog-item-label">Новости</span>
                    <span class="blog-item-date">
                                <span class="blog-item-date-day">30</span>
                                <span class="blog-item-date-month">Cен</span>
                            </span>
                    <h3>Время работы офиса и склада в новогодние</h3>
                    <p>Уважаемые партнеры, клиенты и поставщики!
                        Информируем Вас о времени работы офиса и склада</p>
                </div>
            </a>
        </div>

        <div class="col-1-of-3">
            <a class="blog-item first" href="#">
                <div class="blog-item-img" style="background-image: url({% static 'img/coffee-2.jpg' %});"></div>
                <div class="blog-item-content">
                    <span class="blog-item-label">Блог</span>
                    <span class="blog-item-date">
                                <span class="blog-item-date-day">07</span>
                                <span class="blog-item-date-month">Мар</span>
                            </span>
                    <h3>С международным женским днём - 8 марта!</h3>
                    <p>Уважаемые партнеры, клиенты и поставщики!
                        Информируем Вас о времени работы офиса и склада...</p>
                </div>
            </a>
        </div>

        <div class="col-1-of-3">
            <a class="blog-item first" href="#">
                <div class="blog-item-img" style="background-image: url({% static 'img/coffee-3.jpg' %});"></div>
                <div class="blog-item-content">
                    <span class="blog-item-label">Акция!</span>
                    <span class="blog-item-date">
                                <span class="blog-item-date-day">11</span>
                                <span class="blog-item-date-month">Янв</span>
                            </span>
                    <h3>Открытие горячей линии по качеству обслуживания в</h3>
                    <p>Уважаемые партнеры, клиенты и поставщики!
                        Информируем Вас о времени работы офиса и скла...</p>
                </div>
            </a>
        </div>
    </div>
</section>