{% load static %}
{% load thumbnail %}
<div class="container-fluid my-3">

    <!--Section: Content-->
    <section class="">
        <div class="row">
            <!--Grid column-->
            <div class="col-md-12">

                <div class="card text-center">
                    <div class="card-body px-5 pt-5 pb-4">

                        {% for category in categories %}
                            {% if not category.parent and forloop.first %}
                                <!--Grid row-->
                                <div class="row">

                                    <!--Grid column-->
                                    <div class="col-md-5 mb-md-4">

                                        <!--Featured image-->
                                        <div class="view overlay z-depth-1 mb-4">
                                            <a href="#">
                                                {% thumbnail category.image "405x270" as im %}
                                                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="img-fluid rounded-0 m-auto p-2" alt="Minor sample post image">
                                                {% endthumbnail %}
                                            </a>
                                            <a>
                                                <div class="mask rgba-white-slight waves-effect waves-light"></div>
                                            </a>
                                        </div>

                                    </div>
                                    <!--Grid column-->

                                    <!--Grid column-->
                                    <div class="col-md-6 text-left mb-md-5 mb-4">

                                        <h4 class="mb-3"><strong>{{ category.name }}</strong></h4>
                                        <p class="dark-grey-text">
                                            {% autoescape off %}{{ category.desc|truncatewords:58 }}{% endautoescape %}
                                        </p>

                                    </div>
                                    <!--Grid column-->

                                </div>
                                <!--Grid row-->
                            {% endif %}
                        {% endfor %}
                        <!--Grid row-->
                        <div class="row">
                            {% for category in categories %}
                                {% if not category.parent and not forloop.first %}
                                    <!--Grid column-->
                                    <div class="col-md-6">
                                        <!--Small news-->
                                        <div class="single-news">

                                            <div class="row mb-3">

                                                <div class="col-md-4">
                                                    <!--Image-->
                                                    <div class="view overlay rgba-white-slight z-depth-1 mb-3">
                                                        <a href="#">
                                                            {% thumbnail category.image "144x96" as im %}
                                                                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="img-fluid rounded-0 m-auto p-2" alt="Minor sample post image">
                                                            {% endthumbnail %}
                                                        </a>
                                                        <a>
                                                            <div class="mask rgba-white-slight waves-effect waves-light"></div>
                                                        </a>
                                                    </div>
                                                </div>

                                                <!--Excerpt-->
                                                <div class="col-md-8">
                                                    <p class="font-small text-left mb-2">
                                                        <a href="#">
                                                            <strong>{{ category.name }}</strong>
                                                        </a>
                                                    </p>
                                                    <p class="text-left">
                                                        {% autoescape off %}{{ category.desc|truncatewords:10 }}{% endautoescape %}
                                                        <a href="#"><i class="fas fa-angle-right float-right"></i></a>
                                                    </p>
                                                </div>

                                            </div>

                                        </div>
                                        <!--/Small news-->
                                    </div>
                                    <!--Grid column-->
                                {% endif %}
                            {% endfor %}
                        </div>
                        <!--Grid row-->
                    </div>
                </div>

            </div>
            <!--Grid column-->

        </div>

    </section>
    <!--Section: Content-->


</div>