<footer class="section-footer">
    <div class="row">
        <div class="col-1-of-6">
            <a href="#"><h3 class="heading-tertiary">Каталог</h3></a>
            <a href="#">Вендинговые автоматы</a>
            <a href="#">Кофемашины</a>
            <a href="#">Ингредиенты</a>
            <a href="#">Снековая продукция</a>
            <a href="#">Запасные части </a>
        </div>
        <div class="col-1-of-6">
            <a href="#"><h3 class="heading-tertiary">Услуги</h3></a>
            <a href="#">Аренда кофемашин</a>
            <a href="#">Ввод оборудования в эксплуатацию </a>
            <a href="#">Гарантия и ремонт</a>
            <a href="#">Установка дополнительного оборудования </a>
            <a href="#">Обучение и поддержка</a>
            <a href="#">Кредит и Лизинг</a>
            <a href="#">Прочие услуги</a>
        </div>
        <div class="col-1-of-6">
            <a href="#"><h3 class="heading-tertiary">О компании</h3></a>
            <a href="#">Новости</a>
            <a href="#">Акции</a>
            <a href="#">О вендинге</a>
        </div>
        <div class="col-1-of-6">
            <a href="#"><h3 class="heading-tertiary">Контакты</h3></a>
            <a href="#">Доставка и оплата</a>
            <a href="#">Гарантия</a>
        </div>
        <div class="col-2-of-6">
            <a href="#"><h3 class="heading-tertiary">Получать рассылку</h3></a>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</p>
        </div>
    </div>
</footer>