{% extends 'base.html' %}
{% load static %}

{% block css %}
    <style>
        .view {
            background-color: #d8d8d8;
        }
        .overlay .mask {
            background-color: #48484838;
        }
    </style>
{% endblock %}

{% block title %}

{% endblock %}

{% block content %}

    {% include 'sections/slider.html' %}
    {% include 'sections/categories.html' %}
    {% include 'sections/features.html' %}

{% endblock %}

{% block js %}
    {#    <script>#}
    {#        $(function () {#}
    {#            var selectedClass = "";#}
    {#            $(".filter").click(function () {#}
    {#                selectedClass = $(this).attr("data-rel");#}
    {#                $("#gallery").fadeTo(100, 0.1);#}
    {#                $("#gallery div").not("." + selectedClass).fadeOut().removeClass('animation');#}
    {#                setTimeout(function () {#}
    {#                    $("." + selectedClass).fadeIn().addClass('animation');#}
    {#                    $("#gallery").fadeTo(300, 1);#}
    {#                }, 300);#}
    {#            });#}
    {#        });#}
    {#    </script>#}
{% endblock %}